*{
    font-family: 'Courier New', Courier, monospace;
    
    transition: filter 0.5s, transform 0.5s, opacity 0.4s;
}

body{
    margin: 0px;
    background: #efefef;
    color: #bbb;
}

body::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(1,1,1,0.3);
    background-color: #efefef;
}
 
body::-webkit-scrollbar-thumb {
  background-color: grey;
  outline: 1px solid slategrey;
  border-radius: 20px;
}

.hidden{
    display: none;
}

.app{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scxFigureLine{
    display: flex;
    justify-content: center;
    align-items: center;
}

.scxFigureImageContainer{
    position: relative;
    height: 200px;
    width: 170px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 0em 1em;
    /* isolation: isolate; */
}

.scxFigureImage{
    object-fit: contain;
    width: 100%;
    transform: scale(150%) translateY(-10%);
    cursor: pointer;
}

.scxFigureImage:hover{
    transform: scale(180%) translateY(-10%);
}

.motto{
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
}

.instructions{
    font-size: 0.8rem;
    text-align: center;
    filter: grayscale(1);
}

.brandName{
    margin-top: 60px;
    font-size: 1.5em;
    font-weight: bold;
}

/* the plasma banner */
.imageMod{
    width: 100%;
    height: 100%;
    transform: scale(120%);
    pointer-events: none;
}

#mod1{
    position: absolute;
    top: 0;
    left: 0;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
}
#mod2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scale(150%);
}
#mod3{
    position: absolute;
    top: 0;
    right: 0;
    mix-blend-mode: multiply;
    width: 100%;
    height: 100%;
  
}

.emailModal{
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #2221;
    backdrop-filter: blur(20px);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

@keyframes swoopDown {
    from{
        opacity: 0;
        transform: translateY(-100vh);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.emailForm{
    width: 500px;
    height: 300px;
    background: #efefef;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5000;
    overflow: hidden;
    animation: swoopDown 0.4s;
}

.modalInstructions{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    z-index: 5010;
}

.emailInput{
    margin: 1em;
    width: 80%;
    height: 30px;
    border: solid 1px black;
    text-align: center;
    z-index: 5010;
}

.emailInput:focus{
    border-radius: 0px;
}

.closeEmailModal{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    z-index: 5010;
}

@keyframes zoomRotation {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}

.circularFollower{
    width: 100px;
    height: 100px;
    border: 3px dashed black;
    border-radius: 50%;
    opacity: 0.5;
    position: absolute;
    animation: zoomRotation 3s infinite;
    animation-timing-function: linear;
}



.navText{
    font-size: 1em;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin-bottom: -0.1em;
}

.navText::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: currentColor;
    mix-blend-mode: difference;
    transition: transform 0.4s;
    transform: scaleY(0);
    transform-origin: 0 100%;
}

.navText:hover::after{
    transform: none;
    cursor: pointer;
}

/* scxFigure color visibility improvement */
.secondFigureImage:hover{
   mix-blend-mode: color-burn;
}

/* Other page Styling (Store Tabula rasa */
.page{
    background: #efefef;
    height: 100%;
    width: 100%;
    


    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    gap: 1em;
    color: black;
}

.topNav{
    grid-column: 1/3;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImageContainer{
    height: 60px;
    width: 60px;
    overflow: hidden;
    position: absolute;
    left: 0px;
    margin-left: 1em;
}

.logoImage{
    mix-blend-mode: darken;
    width: 100%;
    object-fit: contain;
    cursor: pointer;

}

.logoImage:hover{
    transform: scale(120%)
}

.pageTitle{
    font-size: 2.5em;
    font-weight: bold;
}

.sideNav{
    width: 200px;
    height: 100%;
}

.sideNav > a{
    text-decoration: none;

}
.sideNav > a:visited{
    color: black;
}

.sideNavElement{
    background: #ddd;
    margin: 0.5em 0em;
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    font-weight: bold;
    position: relative;
    color: #333;
}

.activeSideNav{
    background: black ;
    color: white;
    margin: 0.5em 0em;
    height: 2em;
    display: flex;
    align-items: center;
    padding-left: 0.5em;
    font-weight: bold;
    position: relative;
}

.sideNavElement::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: currentColor;
    mix-blend-mode: difference;
    transition: transform 0.4s;
    transform: scaleY(0);
    transform-origin: 0 100%;
}

.sideNavElement:hover::after{
    transform: none;
    cursor: pointer;
}

.navArrow{
    display: none;
}

/* store styling */
.storeBody{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Model Viewer styling */
.item{
    width: 300px;
    margin: 0em 0.5em;
    border-radius: 15px 15px 20px 20px;
    box-shadow: 2px 2px 5px #ccc;
}

.itemModel{
    border-radius: 15px 15px 0px 0px;
    background: linear-gradient(rgba(80, 106, 114, 0.205), rgba(26, 63, 58, 0.192));
    height: 300px;
    display: flex;
    align-items: center;
}

.itemInfo{
    height: 5em;
    font-weight: bold;
    color: #888;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.itemTypes{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemTypes>div{
    display: inline;
    transition: font-size 0.5s, color 1s;
}
.itemTypes>div:hover{
    font-size: 1.6em;
    color: black;
    cursor: pointer;
}

model-viewer{
    height: 300px;
}

.tabulaCanvas{
    cursor: crosshair;
    border: 1px solid black;
    overflow: none;
}

.tabulaRasaBody{
    display: flex;
}

.canvasButtons{
    margin-left: 1em;
    display: flex;
    flex-direction: column;
}

.canvasButtons > div{
    margin: 0.5em;
}
/* dev visibility: remove whenever*/

/* readjust pages js for devices under 850px width */
@media only screen and (max-width: 850px){
    body{
        background-color: #efefef;
    }
    .app{
        font-size: 0.5em;
    }
    .page{
        grid-template-columns: auto;
        height: 100vh;
    }
    .topNav{
        grid-column: 1/2;
        height: 35px;
    }
    .logoImageContainer{
        height: 30px;
        width: 30px;
    }

    .navArrow{
        position: absolute;
        right: 2px;
        top: calc(50% - 1em);
        font-size: 2.5em;
        font-weight: bold;
        transform: scaleY(1.5);
    }

    .rotateNavArrow{
        transform: rotate(180deg);
    }

    .sideNav{
        position: fixed;
        left: 0;
        top: 100px;
        height: 300px;
        background: #efefef;
        z-index: 3;
        box-shadow: 0px 0px 2px black;
    }
    .hiddenSideNav{
        transform: translateX(-85%);
    }

    .sideNavElement{
        font-size: 1.5em;
        height: 3em;
        
    }
    .activeSideNav{
        font-size: 1.5em;
        height: 3em;
    }

    .navArrow{
        display: block;
    }

    .storeBody{
        background: #efefef;
    }

    .tabulaRasaBody{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .canvasButtons{
        transform: translateY(-5em);
        flex-direction: row;
        justify-content: center;
        font-size: 1.5em;
    }
    .canvasButtons > div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* store */
    .storeBody{
        flex-direction: column;
    }
    .item{
        margin: 2em 0.5em;
        font-size: 2em;
    }
}

/* for phones below 700px */
@media only screen and (max-width: 700px){
    .scxFigureLine{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .scxFigureImageContainer{
        height: 200px;
        width: 170px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        margin: 0em -0.5em;
    }

    .firstFigure{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}